<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{site.title}} | {{page.title}}</title>
    <!--Meta Desc-->
    <meta name="keywords" content="{{page.tag}}"/>
    <meta name="description" content="{{page.description}}"/>
    <meta name="subject" content="Web development & Linux Stuff">
    <meta name="copyright"content="Marco Monteiro">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="Classification" content="Blog">
    <meta name="author" content="Marco Monteiro, marco@marcomonteiro.net">
    <meta name="designer" content="marco@marcomonteiro.net">
    <meta name="owner" content="Marco Monteiro">
    <meta name="url" content="https://blog.marcomonteiro.net">
    <meta name="identifier-URL" content="https://blog.marcomonteiro.net">
    <meta name="coverage" content="Worldwide">

    <!--Meta Facebook-->
    <meta property="og:image" content="https://blog.marcomonteiro.net/assets/img/facebooklogo.jpg"/>
    <meta property="og:title" content="{{site.title}} | {{page.title}}"/>
    <meta property="og:description" content="{{page.description}}"/>
    <meta property="og:url" content="https://blog.marcomonteiro.net"/>
    <meta property="og:site_name" content="Blog++"/>
    <meta property="og:type" content="blog"/>

    <!--Meta Twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@marcogmonteiro">
    <meta name="twitter:title" content="{{site.title}} | {{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:creator" content="@marcogmonteiro">
    <meta name="twitter:domain" content="blog.marcomonteiro.net">

    <link rel="start" href="https://blog.marcomonteiro.net/" title="Marco Monteiro Blog">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT' rel='stylesheet' type='text/css'/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/github.css" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
